/* common */

body {
  padding: 0 auto;
  padding-top: 100px;
  background: #f4f4f4;
  color: #59493b;
}

/* aタグ */
body .tag {
  color: #282929;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: .3s;
}

body .tag::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #282929;
  transition: .3s;
  transform: translateX(-50%);
}

body .tag:hover::after{
  width: 180px;
}


body .common-nav a {
  color: #59493b;
}

body h1 {
  color: #282929;
}


body .container {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

/* welcome */
.main {
  background: #f4f4f4;
  padding-top: 0;
}


/* content */
.content {
  margin-left: 4%;
  color: #59493b;
  text-align: center;
}

.content p {
  margin-top: 180px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.content h1 {
  font-size: 5rem;
  color: #59493b;
  line-height: 1;
  margin-bottom: 50px;
}

.content .btn {
  margin: 0 auto;
}

.key_visual img{
  margin-top: 100px;
  margin-left: 80px;
}

/* show.blade.php */
.comment img{
  width: 64px;
  height: 64px;
}

/* map */
#map {
  width: 100%;
  height: 320px;
}

/* コメント吹き出し */
.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 90%;
  color: #282929;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #282929;
  box-sizing: border-box;
}

.balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #282929;
  z-index: 1;
}

.balloon p {
  margin: 0;
  padding: 2%;
}

/* show main */
.show_box{
  height: auto;
  font-size: 1.1rem;
}

.show_box img{
  width: 200px;
  height: auto;
  opacity: 0.5;
  margin-right: 50px;
  transform: rotate(20deg);
}

/* index.blade.php */
.card-body
{
}

/* tag */
.card-body span {
  border: solid #d5c257 1px;
  border-radius: 10%;
  background-color: #d5c257;
  color: white;
  font-size: 1rem;
  padding: 2px;
  margin-right: 2%;
}


